table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    padding: 10px;
    text-align: left;
}

thead {
    background-color: #fff;
}

button {
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}


button p {
    margin: 0;
}

tr:nth-child(even) {background: #CCC}


.form{
    display: flex;
    flex-direction: column;
    margin:auto auto;
    width: fit-content;
    gap: 10px;
}
